$main-font: roboto, sans-serif;

$font-weight-100: 100;
$font-weight-300: 300;

$font_14: 14px;
$font_24: 24px;

$color-light-gray: #ccc;
$color-white: #fff;
$default-background-color: #fafafa;
$color-gray-dark: #666;
$color-light-green: #85d1c3;
$color-orange: #ff8c00;
$color-blue: #007bff;

$default-box-shadow: 0 2px 4px rgba(0 0 0 / 20%);

$type-of-border-line: 1px solid;

$padding-1x: 5px;
$padding-2x: 10px;
$padding-4x: 20px;
